@import "variables";

.b-header {
  background-color: $color-blue;

  .navbar-dark {
    background-color: $color-blue;
    padding-left: 0;

  }

  a {
    color: white;
  }

  .oi {
    color: white;
  }
}

.b-content {
  margin-top: 20px;
}